@model Batch155SMSOnline3.Models.LevelService

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/_LayoutDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LevelService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeServerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeServerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

