
@model IEnumerable<Batch155SMSOnline3.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_LayoutDashboard.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Customer Name</th>
      
        <th>Email</th>
        <th>Phone Number</th>
        <th>Date Of Registration</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Username)</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
        
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfRegistration)</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
            <td>@Html.ActionLink("Friends", "Friends", new { id = item.Id })</td>
            <td>@Html.ActionLink("SentMessage", "SentMessage", new { id = item.Id })</td>
             <td>@Html.ActionLink("ReceivedMessage", "ReceivedMessage", new { id = item.Id })</td>
        </tr>
    }
</table>