@model IEnumerable<Batch155SMSOnline3.Models.Message>

@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Areas/Admin/Views/_LayoutDashboard.cshtml";
}

<h2>Send Message of @ViewBag.Username</h2>


<table class="table">
    <tr>


        <th>
            Username Receive
        </th>
        <th>
            Phone Number Receive
        </th>

        <th>
            TimeMessage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Customer1.Username)
    </td>
    @if (item.IdUserReceive != null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.Customer1.PhoneNumber)
        </td>
    }
    else
    {
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberReceive)
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.TimeMessage)
    </td>



    <td>

        @Html.ActionLink("DetailMessage", "DetailMessage", new { id = item.Id }) |

    </td>
</tr>
}

</table>
