@model Batch155SMSOnline3.Models.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutSMS.cshtml";
}


<!-- =============Hero Area============= -->
<section class="hero-area bg_img" data-background="~/Content/SMS/assets/images/page-header.jpg">
    <div class="container">
        <h1 class="title m-0">about company</h1>
    </div>
</section>
<div class="breadcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                About
            </li>
        </ul>
    </div>
</div>
<!-- =============Hero Area============= -->
<!--=================Bulk Sms================= -->
<section class="bulk-sms padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse align-items-center">
            <div class="col-lg-6">
                <div class="bulk-content text-center text-sm-left">
                    <span>wellcome to bulk sms</span>
                    <h2 class="title">grobal Bulk SMS Service company</h2>
                    <p>
                        Mauris iaculis pede, tellus commodo justo. Ligula in tortmris libero lectus libero aliquet,
                        vestibulum aut nullloret ac sictus, id pede quis quisque lacinia consectetuer. uere eros
                        velit eu nec arcu, repellat urna ad odio nunc. Doletiarcu eginrdum tiunt morbi, aenean dui
                        amet at mapro Sed quis nunc est justo, in in, elit lorem vulputate, suspendisse pellentesque
                        pede tpluptatem ut mattis, eros diam litora nullam. Ac cras, mollis quis maecenas urna
                        ullamper eros.
                    </p>
                    <a href="#0" class="custom-button active">sign-up & start</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bulk-thumb">
                    <img src="~/Content/SMS/assets/images/bulk/bulk01.png" alt="bulk">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Bulk Sms================= -->
<!--=================Sms Testing================= -->
<section class="sms-testing padding-bottom padding-top bg-ash">
    <div class="container">
        <div class="section-header">
            <span class="cate">sms testing</span>
            <h2 class="title">test your SMS delivery</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="testing-item">
                    <h4 class="title">send us your SMS text</h4>
                 

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Contact</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContentContact, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.TextAreaFor(model => model.ContentContact)
                                    @Html.ValidationMessageFor(model => model.ContentContact, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Submit Now" />
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
            <div class="col-md-6">
                <div class="testing-item">
                    <h4 class="title">about our privacy</h4>
                    <p>
                        Menenatis malesuada at vestibulum, proin at nudit iaculis nullam ut, massa hac, arcu
                        adipiscing in vel ac amllicitudin tempus dictum donec lorem libero. Turpis integpendisse
                        felis, consectetuer odio, volutpat consectetuer erat tortor over hhead to do comeing
                    </p>
                    <ul class="bullet-list">
                        <li>
                            Vestibulum id rhoncus tempus
                        </li>
                        <li>
                            Tellus fermentum a aenean
                        </li>
                        <li>
                            Pulvinar cursus imperdiet
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Sms Testing================= -->
<!--=================Our Service================= -->
<section class="service-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header">
            <span class="cate">sms type</span>
            <h2 class="title">Types of SMS You Can Send</h2>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-megaphone"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">promotional SMS</h4>
                        <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-bell"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">SMS Notification</h4>
                        <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-item text-center">
                    <div class="service-thumb">
                        <i class="flaticon-clock"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">SMS alert</h4>
                        <p>Amet mus venenatis dictucator amet, amet amet egetsem team and group</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Our Service================= -->
<!--=================Our Offer================= -->
<section class="offer-section bg-ash padding-top padding-bottom">
    <div class="container">
        <div class="section-header">
            <span class="cate">our offer</span>
            <h2 class="title">what we offer</h2>
        </div>
    </div>
    <div class="container mw-lg-100">
        <div class="row align-items-center flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="left-side-offer">
                    <h4 class="title">get our best offer for your better business</h4>
                    <p>
                        Porttitor vivamus, pellentesque praesent feugiat sitluportaarcu neque sed, augue magna, non
                        libemaurisuricetiam erat, amet ac nulla lectus autem.
                    </p>
                    <ul>
                        <li>Vestibulum id rhoncus tempus nul ultrices sollicitudin</li>
                        <li>Tellus fermentum a aenean varius morbi lorem lacinia</li>
                        <li>Pulvinar cursus imperdiet montes </li>
                        <li>Elementum purus maecenas condimentum sliquam amet inceptos</li>
                        <li>Convallis mi suspendisse eaque consectetuer </li>
                    </ul>
                    <p>
                        Convallis in amet justo. Tellus fermentum a aenelaoreet libero in, at convallis varius morbi
                        lorem lacini Tcomentum id lacinia eros, lectus erat vel nullam, vel auctor.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-side-offer">
                    <img src="~/Content/SMS/assets/images/offer/offer01.png" alt="offer">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Our Offer================= -->
<!--=================Client Say================= -->
<section class="client-say padding-bottom padding-top">
    <div class="container">
        <div class="section-header">
            <span class="cate">client feedback</span>
            <h2 class="title">client what say about</h2>
        </div>
        <div class="client-say-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="client-item">
                        <div class="client-thumb">
                            <a href="#0"><img src="~/Content/SMS/assets/images/client/client02.jpg" alt="client"></a>
                        </div>
                        <div class="client-content">
                            <h4 class="title"><a href="#0">fahad bin foyej</a></h4>
                            <span>Business Man</span>
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teodunt ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="client-item">
                        <div class="client-thumb">
                            <a href="#0"><img src="~/Content/SMS/assets/images/client/client03.jpg" alt="client"></a>
                        </div>
                        <div class="client-content">
                            <h4 class="title"><a href="#0">Abu Raihan Rafuj</a></h4>
                            <span>Business Man</span>
                            <blockquote>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teodunt ut
                                labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risuodo
                                viverra maecenas accumsan lacus vel facilisis.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="client-pagination"></div>
        </div>
    </div>
</section>
<!--=================Client Say================= -->
<!--=================Sponsor Section================= -->
<div class="sponsor-section padding-top padding-bottom bg-f3">
    <div class="container">
        <div class="sponsor-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor01.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor02.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor03.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor04.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor05.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor06.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor07.png" alt="sponsor">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/Content/SMS/assets/images/sponsor/sponsor08.png" alt="sponsor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================Sponsor Section================= -->
<!--=================Sponsor Section================= -->
<section class="blog-section padding-bottom padding-top">
    <div class="container">
        <div class="section-header">
            <span class="cate">our blog post</span>
            <h2 class="title">the latest post & tips</h2>
        </div>
        <div class="row mb-30-none justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="post-item">
                    <div class="post-item">
                        <div class="post-thumb">
                            <a href="blog.html">
                                <img src="~/Content/SMS/assets/images/blog/blog01.jpg" alt="blog">
                            </a>
                            <div class="post-date">
                                <span>22</span>
                                <span>dec</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <h4 class="title">
                                <a href="blog.html">Business ipsum dolor cursus amet.</a>
                            </h4>
                            <p>
                                pede augue peltesqvolpegesed sed. Et neque rhonctritiqultieam nunc, vitae
                                consectetueMauorbi aenean non maecenas
                            </p>
                            <a class="read-more" href="blog-details.html">
                                read More <i class="fas fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="post-item">
                    <div class="post-item">
                        <div class="post-thumb">
                            <a href="blog.html">
                                <img src="~/Content/SMS/assets/images/blog/blog02.jpg" alt="blog">
                            </a>
                            <div class="post-date">
                                <span>28</span>
                                <span>dec</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <h4 class="title">
                                <a href="blog.html">Ectus aliquet nunc est massa nunc placerat</a>
                            </h4>
                            <p>
                                pede augue peltesqvolpegesed sed. Et neque rhonctritiqultieam nunc, vitae
                                consectetueMauorbi aenean non maecenas
                            </p>
                            <a class="read-more" href="blog-details.html">
                                read More <i class="fas fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="post-item">
                    <div class="post-item">
                        <div class="post-thumb">
                            <a href="blog.html">
                                <img src="~/Content/SMS/assets/images/blog/blog03.jpg" alt="blog">
                            </a>
                            <div class="post-date">
                                <span>31</span>
                                <span>dec</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <h4 class="title">
                                <a href="blog.html">Condimentum magni velit mperdiet</a>
                            </h4>
                            <p>
                                pede augue peltesqvolpegesed sed. Et neque rhonctritiqultieam nunc, vitae
                                consectetueMauorbi aenean non maecenas
                            </p>
                            <a class="read-more" href="blog-details.html">
                                read More <i class="fas fa-caret-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================Sponsor Section================= -->
