<!DOCTYPE html>
<html lang="en">


<!-- index.html   03:19:49 GMT -->
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- waves.css -->
    <link rel="stylesheet" href="~/Content/Dashboard/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/SMS/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/animate.css">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/flaticon.css">

    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/assets/icon/icofont/css/icofont.css">

    <link rel="stylesheet" href="~/Content/SMS/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/SMS/assets/css/main.css">

    <link rel="shortcut icon" href="~/Content/SMS/assets/images/favicon.png" type="image/x-icon">

    <title>Messon - Bulk SMS Reseller Business HTML Template</title>

</head>

<body>
    <!-- ==========Preloader========== -->
    @*<div class="preloader">
            <div class="preloader-wrapper">
                <img src="~/Content/SMS/assets/css/ajax-loader.gif" alt="ajax-loader">
            </div>
        </div>*@
    <!-- ==========Preloader========== -->
    <!-- ==========scrolltotop========== -->
    <a href="#0" class="scrollToTop">
        <img src="~/Content/SMS/assets/images/rocket.png" alt="rocket">
    </a>
    <!-- ==========scrolltotop========== -->
    <!-- ==========Header Section========== -->
    <header>
        <div class="header-top d-none d-md-block bg-theme">
            <div class="container">
                <div class="header-top-wrapper">
                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li class="mr-3">
                                    <a href="Tel:839394845"><i class="fas fa-phone-square"></i>+9999 - 222 - 333</a>
                                </li>
                                <li>
                                    <a href="Mailto:messon@gmail.com"><i class="fas fa-envelope"></i>messon@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-end">
                            <ul class="social">
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="select-area d-none d-md-block">
                                <select class="select-bar">
                                    <option value="01">English</option>
                                    <option value="02">Bangla</option>
                                    <option value="03">Hindi</option>
                                    <option value="04">Urdu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-area">
                    <div class="logo">
                        <a href=@Url.Action("Index","Home")><img src="~/Content/SMS/assets/images/logo/logo01.png" alt="logo"></a>
                    </div>
                    <ul class="menu">

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("ProfilePage", "Customer", new { id = int.Parse(User.Identity.Name) })">Profile</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="@Url.Action("UpdateProfile","Customer")">Update Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ChangePassword","Customer")">Change Password</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Message</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="@Url.Action("MessageFriends","Message")">Friends</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendMessageNonFriends","Message")">Non-friends</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Friends</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="@Url.Action("YourFriends","Friends")">Friends</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SendReceiveFriends","Friends")">Send Receive Friends</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SearchFriends","Friends")">Search Friends</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index","ServiceCus")">Services</a></li>
                            <li><a href="@Url.Action("Logout","Customer")">Log Out</a></li>

                        }
                        else
                        {
                            <li><a href="@Url.Action("Login","Customer")">Login</a></li>
                            <li><a href="@Url.Action("Register","Customer")">Register</a></li>
                        }




                    </ul>
                    <div class="header-bar d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="select-bar-bar">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="d-flex select-career justify-content-end">
                        <select class="select-bar d-md-none">
                            <option value="01">English</option>
                            <option value="02">Bangla</option>
                            <option value="03">Hindi</option>
                            <option value="04">Urdu</option>
                        </select>
                        @*<a href="#0" class="search-bar">
                                <i class="flaticon-magnifying-glass"></i>
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*<div class="search-form-area">
            <span class="hide-form">
                <i class="fas fa-times"></i>
            </span>
            <form class="search-form">
                <input type="text" placeholder="Search Here">
                <button type="submit"><i class="flaticon-search"></i></button>
            </form>
        </div>*@
    <!-- ==========Header Section========== -->
    @RenderBody()
    <!--=================Footer Section================= -->
    <footer>
        <div class="footer-top padding-top padding-bottom">
            <div class="container">
                <div class="row mb-50-none">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">bulk SMS</h5>
                            <ul>
                                <li>
                                    <a href="#0">masking SMS</a>
                                </li>
                                <li>
                                    <a href="#0">Non-Masking SMS</a>
                                </li>
                                <li>
                                    <a href="#0">location based SMS</a>
                                </li>
                                <li>
                                    <a href="#0">Voice message</a>
                                </li>
                                <li>
                                    <a href="#0">promo SMS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">company</h5>
                            <ul>
                                <li>
                                    <a href="#0">about</a>
                                </li>
                                <li>
                                    <a href="#0">pricing plan</a>
                                </li>
                                <li>
                                    <a href="#0">faq</a>
                                </li>
                                <li>
                                    <a href="#0">testiminial</a>
                                </li>
                                <li>
                                    <a href="#0">promotion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-link">
                            <h5 class="title">Partners</h5>
                            <ul>
                                <li>
                                    <a href="#0">kingstar</a>
                                </li>
                                <li>
                                    <a href="#0">laravala click</a>
                                </li>
                                <li>
                                    <a href="#0">yago</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-widget footer-about">
                            <h5 class="title">about us</h5>
                            <p>Tellus fermentum a aenean laoreet libero in, at convallis varius morbi.</p>
                            <ul class="footer-social">
                                <li>
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-3 py-sm-4 text-center">
            <div class="container">
                <p class="m-0"> <a href="templateshub.net">Templates Hub</a></p>
            </div>
        </div>
    </footer>
    <!--=================Footer Section================= -->

    <script src="~/Content/SMS/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/SMS/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/Content/SMS/assets/js/plugins.js"></script>
    <script src="~/Content/SMS/assets/js/bootstrap.min.js"></script>

    <!-- waves js -->
    <script src="~/Content/Dashboard/assets/pages/waves/js/waves.min.js"></script>

    <script src="~/Content/SMS/assets/js/waypoint.js"></script>
    <script src="~/Content/SMS/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/SMS/assets/js/lightcase.js"></script>
    <script src="~/Content/SMS/assets/js/swiper.min.js"></script>
    <script src="~/Content/SMS/assets/js/wow.min.js"></script>
    <script src="~/Content/SMS/assets/js/countdown.min.js"></script>
    <script src="~/Content/SMS/assets/js/counterup.min.js"></script>
    <script src="~/Content/SMS/assets/js/nice-select.js"></script>
    <script src="~/Content/SMS/assets/js/main.js"></script>


</body>


<!-- index.html   03:21:08 GMT -->
</html>